<div class="form_container">
    <h1 class="titles">Registro</h1>
    <div class="row">
        <p><%= @register.calories %></p>
        <p><%= @register.description %></p>
        <p><%= @register.calories_action %></p>
        <p><%= @register.date %></p><br>

        <%= link_to edit_calories_register_path, class: 'button is-success' do %>
            <span>Editar</span>
            <i class="fas fa-indent"></i>
        <% end %>

        <%= link_to calories_register_path, placeholder:"x", method: :delete, data: {confirm: 'Estas seguro de borrar estos datos?'}, class:"button is-danger" do %>
            <span>Eliminar</span>
            <span class="icon is-small">
                <i class="fas fa-times"></i>
            </span>
        <% end %>
        
    </div>
</div>
