<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://cdn.discordapp.com/attachments/753405887032328314/810952374372794418/FoxLogo.png" >
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      
      <%=link_to "Inicio", root_path, class:"navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
        Más
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://github.com/MrFoxxz/Calories_register_app" target="_blank">
              Github de esta
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://mrfoxxz.github.io/Portfolio/">
              Reporta alguna falla!
          </a>
        </div>
      </div>

      <% unless current_user.blank? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Medidor de caloria
          </a>
          <div class="navbar-dropdown">

              <%= link_to 'Nuevo Registro', new_calories_register_url, class:"navbar-item" %>
              <%= link_to 'Registros', calories_registers_url, class:"navbar-item" %>
           
            <a class="navbar-item">
              Grafica
            </a>
          </div>
      </div>
      <% end %>

    </div>

    
    <% unless current_user.blank? %>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">       
                     
                    <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class:"button is-danger" %>
                 
                </div>
            </div>
        </div>
    <% else %>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    
                <%= link_to 'Inicia Sesión', new_user_session_path, class:"button is-link" %>
                <%= link_to 'Registrate', new_user_registration_path, class:"button is-light"  %>
    
                </div>
            </div>
        </div>
    <% end %>

  </div>
</nav>