<!DOCTYPE html>
<html>
  <head>
    <title>CaloriesRegisterApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div>
    <%= render 'layouts/header' %>
    </div>

    <div>
      <% flash.each do |message_type, message| %>
        <div class="notification is-<%= message_type %>" style="margin-bottom: 0px;">
          <%=message%>
        </div>
      <% end %>   
      <%= yield %>
    </div>
  </body>
</html>
